/* debug */

.debug {
  position: absolute;
  left: 0;
  width: auto;
  height: 100vh;
}

/* main container */

.game-slotmachine {
  background-image: url("../../images/games/slotmachine/background.png");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Slot machine background (images) */

.game-slotmachine-container {
  position: relative;
  width: 30%;
  max-width: 600px;
  /* min-width: 500px; */
}

.game-slotmachine-img {
  position: absolute;
  width: 100%;
}

.game-slotmachine-img--relative {
  position: relative;
}

#game-slotmachine-btn {
  z-index: 100;
}

.game-slotmachine-btn {
  animation: 1.5s ease-out infinite Blink;
  cursor: pointer;
  width: 9.7%;
  right: 0;
}

/* Slot machine foregroung (symbol containers) */

.game-slotmachine-reels {
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  z-index: 10;
  position: absolute;
  width: 72%;
  height: 59%;
  /* background-color: rgba(255, 0, 0, 0.266); */
  /* border: 1px solid red; */
  display: flex;
  gap: 8%;
}

.game-slotmachine-reel {
  /* background-color: rgba(255, 0, 0, 0.266); */
  /* border: 1px solid red; */
  flex-grow: 1;
  background-image: url(../../images/games/slotmachine/reel-symbols.png);
  background-size: cover;
  /* background-position-y: calc(-100% / var(--n-symbols) / 2); */
}

/* Media queries */

/* Above 1920px (large desktops) */
@media (min-width: 1921px) {
  .game-slotmachine {
    background-size: cover;
  }
}

/* Below 1200px (landscape tablets) */
@media (max-width: 1200px) {
  .game-slotmachine-container {
    width: 500px;
  }
}

/* Below 560px (mobile) */
@media (max-width: 560px) {
  .game-slotmachine {
    width: 100%;
    padding: 0 32px;
  }
}

/* Animations */

@keyframes Blink {
  0% {
    /* opacity: 1; */
    filter: brightness(1);
  }

  50% {
    /* opacity: .5; */
    filter: brightness(1.75) drop-shadow(0 0 10px #ff000025) drop-shadow(0 0 30px #ff000025)
      drop-shadow(0 0 50px #ff000025);
  }

  100% {
    /* opacity: 1; */
    filter: brightness(1);
  }
}
